.button {
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 0px;
}
.button:hover {
    -fx-background-color: #e2e2e2;
    -fx-background-radius: 0px;
}
.equal {
    -fx-background-color: #136572;
    -fx-background-radius: 0px;
}
.equal:hover {
    -fx-background-color: #2f5c72;
    -fx-background-radius: 0px;
}

.history{
    -fx-border-left: solid black 2px;
}